.menu {
    background: #006ACB
}

.nav-link {
    color: #C1E4FF
}

.nav-link:hover{
    color: #FFF
}
#imagem img {
    margin-top: 135px;

    width: 100%;
  
}

.active {
    color: #FFF 
}